<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>Esqueci a senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet"><!--<![endif]-->
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        width: 100%;
        height: 100vh;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        background-image: url('https://sjc04pap001files.storage.live.com/y4mk5Z4QuontHdRLRPw3BU94-ljBOH4tVowv-LxD3idlgQs8cnHtiALaaOWfjNn_5UFxwwGr2oBX_BUBXhoYAwqGzqFgITi3OJRlKOXzpQrUQ36uBrMj5qZjmlRTB-xuwKxtDtSOdX2fnsGmZUbgz-CVo251RpU9w1HKHLgICYrNEkGJcR2pLCWKMuGwapoDFpN?width=8001&height=1234&cropmode=none');
        -webkit-font-smoothing: antialiased;
        justify-content:center;
        padding: 1rem 1rem 3rem;
      }

      body, button {
        font: 400 1rem Imprima, Arial, sans-serif;
        color:#2d3142;
        font-size: 1.13rem;
        line-height: 150%;
      }

      .main-container {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        background-color: #efefef;
        max-width: 36.87rem;
        height: auto;
        border-radius: 20px;
        padding: 1.5rem 2rem;
      }

      .content-container {
        text-align: center;
        width: 100%;
        border-radius: 10px;
        background-color: #fafafa;
        padding: 0.625rem 1.5rem;
      }

      .content-container a img {
        max-width: 9.37rem;
        max-height: 5.93rem;
      }

      .content-container p {
        text-align: left;
      }

      .content {
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;  
        margin-top: 1rem;   
      }

      .content p:nth-child(n+2){
        margin-top: 1.5rem;
      }

      .signature {
        margin-top: 1.5rem;
      }

      .signature span {
        display: block;
        text-align: left;
      }

      .action-container {
        margin-top: 1.5rem;
        width: 100%;
      }

      .action-container a {
        display: inline-block;
        background-color: #8bc34a;
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-size: 1.375rem;
        font-weight: bold;
        border-radius: 30px;
      }

      .separator {
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        width: 100%;
      }
      
      small {
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      @media (max-width:700px){
        body {
          background-size: 150%;
        }

        .main-container {
          padding: 1rem
        }
      }

      @media (max-width:500px){
        body {
          background-image: none;
          height: auto;
          padding: 1rem 0.5rem;
        }
      }
    </style>
  </head>

  <body>
    <div class="main-container">
      <div class="content-container">
        <a href="https://notiway.com.br" target="_blank">
          <img src="https://sjc04pap001files.storage.live.com/y4mcZVLO7Ga8PhF8ehsEln-uAQsqSonNsG8wCG_lyRw-zsDMaRmqyfkoZLonvB7M1NoNtMcm3vZ5qPO5GYrT53fKS1iqNSlBhQGsO0-VxRhXiZLIct_513N9GNo4ddcdM4ajN9l1FWxDHnkty9bm0ZFklBwsiG5pHd5CckM3pp5olCZgDblxVBiYo12IuiMrJHr?width=563&height=356&cropmode=none" alt="Logo da Notiway">
        </a>
        <div class="content">
          <p>Olá, tudo bem?</p>
          <p>Seu cadastro em nossa plataforma foi realizado com sucesso. Agora falta pouco pra você poder transformar a forma como se comunica com seus clientes.</p>
          <p>Antes de continuar é necessário confirmar o seu cadastro <a href="https://notiway.com.br/verify/{{token}}" target="_blank">clicando aqui.</a></p>
          <p>Se tiver qualquer dúvida é só responder <a href="mailto:atendimento@notiway.com.br">esse e-mail</a>. :)</p>
          <div class="signature">
            <span>Até mais! 😉</span>
            <span>Equipe Notiway</span>
          </div>
        </div>   
      </div>
      <div class="action-container">
        <a href="https://notiway.com.br/verify/{{token}}" target="_blank">Verificar e-mail</a>
      </div>
    </div>
  </body>
</html>